# Entity Matching

**This is a project for CS639@UW-Madison 2019 Spring** <br>

Author: Han Cao <br>
Date: April/23/2019

### Information of the dataset

This dataset contains product data from Walmart and Amazon. The dataset contains two tables the left table (denoted by ltable), and the right table (denoted by rtable). Further, the dataset contains a list of training examples that correspond to true product matches (only the ids are given) and a collection of test examples for evaluation.

- Table ltable has the next schema: ltable_id, title, category, brand, modelno, price

- Table rtable has the next schema: rtable_id, title, category, brand, modelno, price

- The training data file has the next schema: ltable_id, rtable_id, label, id

- The test data file has the next schema: ltable_id, rtable_id, id

In [1]:
# Read the CSV file in
import pandas as pd
train = pd.read_csv("./data/train.csv")
train.head(10)

   ltable_id  rtable_id  label  id
0        621       3167      0   1
1       2115       8789      0   2
2        278       9064      0   3
3       1673      13279      0   4
4       2305       2948      0   5
5       1543      10366      0   6
6         88       3269      1   7
7        768      10397      0  11
8       2476      18730      0  12
9        470      10874      1  13

In [2]:
test = pd.read_csv("./data/test.csv")
test.head(10)

   ltable_id  rtable_id  id
0       1853       2139   0
1       1718      11835   8
2       1624       5013   9
3        614       5969  10
4       1512      19684  15
5       1136      17384  16
6         95         12  19
7        296      13803  28
8        280      17506  29
9       1816       1832  31

In [3]:
ltable = pd.read_csv("./data/ltable.csv", sep = ",", encoding='latin-1')
ltable.head(10)

,ltable_id,title,category,brand,modelno,price
0,0,draper infrared remote transmitter,electronics - general,draper,121066,58.45
1,1,epson 1500 hours 200w uhe projector lamp elplp12,monitors,epson,elplp12,438.84
2,2,comprehensive two-piece 75 precision bnc jack ...,tv accessories,comprehensive,bj-2c7559,59.25
3,3,d-link dcs-1100 network camera,garden - general,d-link,dcs-1100,99.82
4,4,startech.com rkpw247015 24 outlet power strip,electronics - general,startech,rkpw247015,59.00
5,5,3m fr530cb ergonomic adjustable footrest,furniture,3m,fr530cb,67.88
6,6,hp c6020b coated paper 1 roll 36-inches x 150 ft,stationery & office machinery,hp,c6020b,49.88
7,7,visioneer rw120-wu roadwarrior sheetfed scanner,electronics - general,visioneer,rw120-wu,199.98
8,8,brother dk2113 ql label printers continuous le...,stationery & office machinery,brother,dk2113,64.88
9,9,3m mw310le gel mouse pad,electronics - general,3m,mw310le,17.88

In [4]:
rtable = pd.read_csv("./data/rtable.csv", sep = ",", encoding='latin-1')
rtable.head(10)

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,mice,kinamax,ms-ues2,6.99
4,4,kensington k72349us wireless mouse for netbooks,mice,kensington,k72349us,24.00
5,5,kensington blackbelt protection band for ipad ...,cases sleeves,kensington,k39324us,23.92
6,6,just5 j509 easy to use unlocked cell phone wit...,unlocked phones,just5,j509black,64.11
7,7,imation corp 50pk cdr 700mb 80min 52x-spindle ...,cd-r discs,imation,17301,10.29
8,8,16x dvd-r media,dvd-r discs,imation,17340,6.99
9,9,igo arctic laptop cooling pad ac05065-0001,cleaning repair,igo,ac05065-0001,29.99

## Design

In order to solve problem, first we need to generate a matching score for each column; and then using pairwise-ER to culculate a matching for each redors; Then we use classification to "draw a line" between match and unmact;

### 1. Entity matching: 
1. Levenshitein distance 
2. Numerical distance (for price)
3. Jaro(for brand)
...

### 2. pairwise-ER:
1. SUM
2. Formulate
...

### 3. classification (With or without ER):
1. SVM
2. Random Forest
3. Bagging
...

**I will try as many as possible combination of these approches to have the best result**

In [5]:
# Using levenshitein distance
import stringdist

def lavenshitein_val(left, right):
    return stringdist.levenshtein(left.lower(), right.lower())

In [8]:
# use this to calculate the distance between the brand
import textdistance
def jaro_winkler_val(left, right):
    return textdistance.jaro_winkler(left, right);

## Matching
For each one record in Left we loop through all the records in B to find a match follow the following order:
1. Price
2. Brand
3. category
4. name

In [20]:
from fuzzywuzzy import process
print(ltable["brand"][1])

epson