# Entity Matching

**This is a project for CS639@UW-Madison 2019 Spring** <br>

Author: Han Cao <br>
Date: April/23/2019

### Information of the dataset

This dataset contains product data from Walmart and Amazon. The dataset contains two tables the left table (denoted by ltable), and the right table (denoted by rtable). Further, the dataset contains a list of training examples that correspond to true product matches (only the ids are given) and a collection of test examples for evaluation.

- Table ltable has the next schema: ltable_id, title, category, brand, modelno, price

- Table rtable has the next schema: rtable_id, title, category, brand, modelno, price

- The training data file has the next schema: ltable_id, rtable_id, label, id

- The test data file has the next schema: ltable_id, rtable_id, id

In [2]:
!pwd

/content

In [4]:
# Read the CSV file in
import pandas as pd
train = pd.read_csv("train.csv")
train.head(10)

   ltable_id  rtable_id  label  id
0        621       3167      0   1
1       2115       8789      0   2
2        278       9064      0   3
3       1673      13279      0   4
4       2305       2948      0   5
5       1543      10366      0   6
6         88       3269      1   7
7        768      10397      0  11
8       2476      18730      0  12
9        470      10874      1  13

In [5]:
test = pd.read_csv("test.csv")
test.head(10)

   ltable_id  rtable_id  id
0       1853       2139   0
1       1718      11835   8
2       1624       5013   9
3        614       5969  10
4       1512      19684  15
5       1136      17384  16
6         95         12  19
7        296      13803  28
8        280      17506  29
9       1816       1832  31

In [6]:
ltable = pd.read_csv("ltable.csv", sep = ",", encoding='latin-1')
ltable.head(10)

,ltable_id,title,category,brand,modelno,price
0,0,draper infrared remote transmitter,electronics - general,draper,121066,58.45
1,1,epson 1500 hours 200w uhe projector lamp elplp12,monitors,epson,elplp12,438.84
2,2,comprehensive two-piece 75 precision bnc jack ...,tv accessories,comprehensive,bj-2c7559,59.25
3,3,d-link dcs-1100 network camera,garden - general,d-link,dcs-1100,99.82
4,4,startech.com rkpw247015 24 outlet power strip,electronics - general,startech,rkpw247015,59.00
5,5,3m fr530cb ergonomic adjustable footrest,furniture,3m,fr530cb,67.88
6,6,hp c6020b coated paper 1 roll 36-inches x 150 ft,stationery & office machinery,hp,c6020b,49.88
7,7,visioneer rw120-wu roadwarrior sheetfed scanner,electronics - general,visioneer,rw120-wu,199.98
8,8,brother dk2113 ql label printers continuous le...,stationery & office machinery,brother,dk2113,64.88
9,9,3m mw310le gel mouse pad,electronics - general,3m,mw310le,17.88

In [7]:
rtable = pd.read_csv("rtable.csv", sep = ",", encoding='latin-1')
rtable.head(10)

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d3...,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-butt...,mice,kinamax,ms-ues2,6.99
4,4,kensington k72349us wireless mouse for netbooks,mice,kensington,k72349us,24.00
5,5,kensington blackbelt protection band for ipad ...,cases sleeves,kensington,k39324us,23.92
6,6,just5 j509 easy to use unlocked cell phone wit...,unlocked phones,just5,j509black,64.11
7,7,imation corp 50pk cdr 700mb 80min 52x-spindle ...,cd-r discs,imation,17301,10.29
8,8,16x dvd-r media,dvd-r discs,imation,17340,6.99
9,9,igo arctic laptop cooling pad ac05065-0001,cleaning repair,igo,ac05065-0001,29.99

## Design

In order to solve problem, first we need to generate a matching score for each column; and then using pairwise-ER to culculate a matching for each redors; Then we use classification to "draw a line" between match and unmact;

### 1. Entity matching: 
1. Levenshitein distance 
2. Numerical distance (for price)
3. Jaro(for brand)
...

### 2. pairwise-ER:
1. SUM
2. Formulate
...

### 3. classification (With or without ER):
1. SVM
2. Random Forest
3. Bagging
...

**I will try as many as possible combination of these approches to have the best result**

In [9]:
!pip install StringDist

Collecting StringDist
  Downloading https://files.pythonhosted.org/packages/85/f0/c56cbe92b4b06fbc7adaa81917ad34d7027834e166fff2d2db73961c67fa/StringDist-1.0.9.tar.gz
Building wheels for collected packages: StringDist
  Building wheel for StringDist (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/c3/1b/bb/bf0de4d64d8ca38759811fe3353e441f12feb606fb3d1d2e11
Successfully built StringDist
Installing collected packages: StringDist
Successfully installed StringDist-1.0.9

In [0]:
# Using levenshitein distance
import stringdist

def lavenshitein_val(left, right):
    return stringdist.levenshtein(left.lower(), right.lower())

In [13]:
pip install textdistance

Collecting textdistance
  Downloading https://files.pythonhosted.org/packages/90/19/0ec54a05e269537341b489da4e8a7b86e34b94e0096f67ecfcbab98cd3aa/textdistance-4.1.3-py3-none-any.whl
Installing collected packages: textdistance
Successfully installed textdistance-4.1.3

In [0]:
# use this to calculate the distance between the brand
import textdistance
def jaro_winkler_val(left, right):
    return textdistance.jaro_winkler(left, right);

## Matching
For each one record in Left we loop through all the records in B to find a match follow the following order:
1. Price
2. Brand
3. category
4. name

In [15]:
pip install py_entitymatching

Collecting py_entitymatching
  Downloading https://files.pythonhosted.org/packages/ee/d3/2eacdb4ee0e268eb4c041fc2921e880262658b24e15ae470559fb1999eab/py_entitymatching-0.3.1.tar.gz (2.0MB)
    100% |████████████████████████████████| 2.0MB 12.2MB/s
Collecting PyPrind (from py_entitymatching)
  Downloading https://files.pythonhosted.org/packages/1e/30/e76fb0c45da8aef49ea8d2a90d4e7a6877b45894c25f12fb961f009a891e/PyPrind-2.11.2-py3-none-any.whl
Collecting py_stringsimjoin==0.3.0 (from py_entitymatching)
  Downloading https://files.pythonhosted.org/packages/b9/32/28a76b430e092a330850707e34f89419ce77b06dc303e6c5f6cd701ad5ba/py_stringsimjoin-0.3.0.tar.gz (786kB)
    100% |████████████████████████████████| 788kB 19.8MB/s
Requirement already satisfied: cloudpickle>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from py_entitymatching) (0.6.1)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.6/dist-packages (from py_entitymatching) (2.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from py_entitymatching) (0.20.3)
Requirement already satisfied: pandas-profiling>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from py_entitymatching) (1.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin==0.3.0->py_entitymatching) (0.12.5)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin==0.3.0->py_entitymatching) (0.24.2)
Collecting py_stringmatching>=0.2.1 (from py_stringsimjoin==0.3.0->py_entitymatching)
  Downloading https://files.pythonhosted.org/packages/3e/a3/89c3d02bbf1e24868673702ebd38a3b76259cb124a5d26d46a050d3fccf2/py_stringmatching-0.4.1.tar.gz (646kB)
    100% |████████████████████████████████| 655kB 20.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from py_stringsimjoin==0.3.0->py_entitymatching) (1.12.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->py_entitymatching) (1.2.1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->py_entitymatching) (1.16.3)
Requirement already satisfied: matplotlib>=1.4 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=1.4.0->py_entitymatching) (3.0.3)
Requirement already satisfied: jinja2>=2.8 in /usr/local/lib/python3.6/dist-packages (from pandas-profiling>=1.4.0->py_entitymatching) (2.10.1)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.0->py_entitymatching) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.16.0->py_stringsimjoin==0.3.0->py_entitymatching) (2.5.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling>=1.4.0->py_entitymatching) (1.0.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.4->pandas-profiling>=1.4.0->py_entitymatching) (0.10.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.8->pandas-profiling>=1.4.0->py_entitymatching) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4->pandas-profiling>=1.4.0->py_entitymatching) (40.9.0)
Building wheels for collected packages: py-entitymatching, py-stringsimjoin, py-stringmatching
  Building wheel for py-entitymatching (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/8a/11/32/31986854281ff89654b9e67c1cb5d94dd8f87d7408aaef3c91
  Building wheel for py-stringsimjoin (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/69/a2/f7/b748da307ea9120633a58847b0ecec23c97cfccdf81d875282
  Building wheel for py-stringmatching (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/60/7a/90/37ae79d15afb482c2fa1a58a45fadd1945ed1d09fc8d50d4b6
Successfully built py-entitymatching py-stringsimjoin py-stringmatching
Installing collected packages: PyPrind, py-stringmatching, py-stringsimjoin, py-entitymatching
Successfully installed PyPrind-2.11.2 py-entitymatching-0.3.1 py-stringmatching-0.4.1 py-stringsimjoin-0.3.0

In [0]:
import py_entitymatching as em
import os
import pandas as pd

In [0]:
# Get the datasets directory
datasets_dir = em.get_install_path() + os.sep + 'datasets'

# Get the paths of the input tables
l = datasets_dir + os.sep + './ltable.csv'
r = datasets_dir + os.sep + 'rtable.csv'

In [33]:
L_data = em.read_csv_metadata('./ltable.csv',encoding='latin-1', key = 'ltable_id')
R_data = em.read_csv_metadata('./rtable.csv',encoding='latin-1', key = 'rtable_id')

Metadata file is not present in the given path; proceeding to read the csv file.
Metadata file is not present in the given path; proceeding to read the csv file.

In [34]:
L_data.head()

,ltable_id,title,category,brand,modelno,price
0,0,draper infrared remote transmitter,electronics - general,draper,121066,58.45
1,1,epson 1500 hours 200w uhe projector lamp elplp12,monitors,epson,elplp12,438.84
2,2,comprehensive two-piece 75 precision bnc jack for rg-59 set of 25,tv accessories,comprehensive,bj-2c7559,59.25
3,3,d-link dcs-1100 network camera,garden - general,d-link,dcs-1100,99.82
4,4,startech.com rkpw247015 24 outlet power strip,electronics - general,startech,rkpw247015,59.00

In [35]:
R_data.head()

,rtable_id,title,category,brand,modelno,price
0,0,koss eq50 3-band stereo equalizer,headphone accessories,koss,152132,12.65
1,1,kodak black ink cartridge 10b 1163641,inkjet printer ink,kodak,1163641,10.28
2,2,kingston 128mx64 pc2700 compaq evo d320 ktc-d320 1g,computers accessories,kingston,ktc-d320 / 1g,33.75
3,3,kinamax ms-ues2 mini high precision usb 3-button 3d optical scroll wheel mouse with retractable ...,mice,kinamax,ms-ues2,6.99
4,4,kensington k72349us wireless mouse for netbooks,mice,kensington,k72349us,24.00

In [0]:
# Instantiate overlap blocker object
ob = em.OverlapBlocker()

In [38]:
# Specify the tokenization to be 'word' level and set overlap_size to be 3.
C = ob.block_tables(L_data, R_data, 'brand', 'brand', word_level=False, 
                    l_output_attrs=['ltable_id', 'title', 'category', 'price'], 
                    r_output_attrs=['rtable_id', 'title', 'category', 'price'],
                    q_val = 3, overlap_size=3, show_progress=False)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5079: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5080: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

In [39]:
C.head()

,_id,ltable_ltable_id,rtable_rtable_id,ltable_title,ltable_category,ltable_price,rtable_title,rtable_category,rtable_price
0,0,105,0,koss stereophones with flexible headband design,electronics - general,29.88,koss eq50 3-band stereo equalizer,headphone accessories,12.65
1,1,202,0,boss mp3 cd receiver speaker package system,car stereos,78.00,koss eq50 3-band stereo equalizer,headphone accessories,12.65
2,2,306,0,boss audio ch6ck - chaos extreme 350 watt 6.5 component car speakers - pair,car stereos,43.00,koss eq50 3-band stereo equalizer,headphone accessories,12.65
3,3,493,0,cross contour ballpoint pen satin barrel medium point,stationery & office machinery,20.94,koss eq50 3-band stereo equalizer,headphone accessories,12.65
4,4,798,0,boss audio 586ck - 1-din cd receiver with two 6.5 speakers,car stereos,98.00,koss eq50 3-band stereo equalizer,headphone accessories,12.65

In [0]:
#generate training data
import csv
with open('./train_labled', 'w') as labeled:
  labeled_writer = csv.writer(labeled, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
  for pair in train.iterrows():
    l_id = pair[1][0]
    r_id = pair[1][1]

    l_data = L_data.loc[L_data['ltable_id'] == l_id]
    r_data = R_data.loc[R_data['rtable_id'] == r_id]
    label = pair[1]['label']
    
    labeled_writer.writerow(l_data+r_data+label);

In [0]:
mv train_labled train_labled.csv

In [72]:
S = em.read_csv_metadata('train.csv', 
                         key='id',
                         ltable=L_data, rtable=R_data, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

Metadata file is not present in the given path; proceeding to read the csv file.

In [122]:
S.head()

   ltable_id  rtable_id  label  id
0        621       3167      0   1
1       2115       8789      0   2
2        278       9064      0   3
3       1673      13279      0   4
4       2305       2948      0   5

In [0]:
# Create a set of ML-matchers
dt = em.DTMatcher(name='DecisionTree', random_state=0)
svm = em.SVMMatcher(name='SVM', random_state=0)
rf = em.RFMatcher(name='RF', random_state=0)
lg = em.LogRegMatcher(name='LogReg', random_state=0)
ln = em.LinRegMatcher(name='LinReg')

In [0]:
# Generate a set of features
F = em.get_features_for_matching(L_data, R_data, validate_inferred_attr_types=False)

In [125]:
F.feature_name

0         category_category_jac_qgm_3_qgm_3
1     category_category_cos_dlm_dc0_dlm_dc0
2     category_category_jac_dlm_dc0_dlm_dc0
3                     category_category_mel
4                category_category_lev_dist
5                 category_category_lev_sim
6                     category_category_nmw
7                      category_category_sw
8               brand_brand_jac_qgm_3_qgm_3
9           brand_brand_cos_dlm_dc0_dlm_dc0
10          brand_brand_jac_dlm_dc0_dlm_dc0
11                          brand_brand_mel
12                     brand_brand_lev_dist
13                      brand_brand_lev_sim
14                          brand_brand_nmw
15                           brand_brand_sw
16          modelno_modelno_jac_qgm_3_qgm_3
17      modelno_modelno_cos_dlm_dc0_dlm_dc0
18      modelno_modelno_jac_dlm_dc0_dlm_dc0
19                      modelno_modelno_mel
20                 modelno_modelno_lev_dist
21                  modelno_modelno_lev_sim
22                      modelno_modelno_nmw
23                       modelno_modelno_sw
24                          price_price_exm
25                          price_price_anm
26                     price_price_lev_dist
27                      price_price_lev_sim
Name: feature_name, dtype: object

In [0]:
H = em.extract_feature_vecs(S, 
                            feature_table=F, 
                            attrs_after='label',
                            show_progress=False)

In [127]:
H.head()

,id,ltable_id,rtable_id,category_category_jac_qgm_3_qgm_3,category_category_cos_dlm_dc0_dlm_dc0,category_category_jac_dlm_dc0_dlm_dc0,category_category_mel,category_category_lev_dist,category_category_lev_sim,category_category_nmw,...,modelno_modelno_mel,modelno_modelno_lev_dist,modelno_modelno_lev_sim,modelno_modelno_nmw,modelno_modelno_sw,price_price_exm,price_price_anm,price_price_lev_dist,price_price_lev_sim,label
0,1,621,3167,0.054054,0.000000,0.000000,0.484127,16.0,0.238095,-2.0,...,0.457936,12.0,0.142857,0.0,2.0,0.0,0.741408,3.0,0.500000,0
1,2,2115,8789,0.000000,0.000000,0.000000,0.577249,17.0,0.190476,1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.412166,4.0,0.333333,0
2,3,278,9064,0.023810,0.000000,0.000000,0.671958,15.0,0.285714,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,4,1673,13279,0.578947,0.816497,0.666667,0.865000,6.0,0.625000,4.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.916528,1.0,0.800000,0
4,5,2305,2948,0.058824,0.000000,0.000000,0.430880,16.0,0.238095,-6.0,...,0.447619,6.0,0.142857,-1.0,1.0,0.0,0.899354,3.0,0.400000,0

In [128]:
any(pd.notnull(H))

True

In [129]:
# Impute feature vectors with the mean of the column values.
H = em.impute_table(H, 
                exclude_attrs=['id', 'ltable_id', 'rtable_id', 'label'],
                strategy='mean')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [130]:
# Select the best ML matcher using CV
result = em.select_matcher([dt, rf, svm, ln, lg], table=H, 
        exclude_attrs=['id', 'ltable_id', 'rtable_id', 'label'],
        k=5,
        target_attr='label', metric_to_select_matcher='f1', random_state=0)
result['cv_stats']

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

        Matcher  Average precision  Average recall  Average f1
0  DecisionTree           0.586133        0.561569    0.572245
1            RF           0.803232        0.487055    0.605659
2           SVM           0.904368        0.335341    0.489210
3        LinReg           0.972177        0.438797    0.603510
4        LogReg           0.943515        0.452186    0.609692

In [131]:
result['drill_down_cv_stats']['precision']

,Name,Matcher,Num folds,Fold 1,Fold 2,Fold 3,Fold 4,Fold 5,Mean score
0,DecisionTree,<py_entitymatching.matcher.dtmatcher.DTMatcher object at 0x7f1427dc92e8>,5,0.631148,0.500000,0.600000,0.572650,0.626866,0.586133
1,RF,<py_entitymatching.matcher.rfmatcher.RFMatcher object at 0x7f1427dc9c18>,5,0.784810,0.752941,0.882353,0.808824,0.787234,0.803232
2,SVM,<py_entitymatching.matcher.svmmatcher.SVMMatcher object at 0x7f1427dc9518>,5,0.903846,0.895833,0.907407,0.909091,0.905660,0.904368
3,LinReg,<py_entitymatching.matcher.linregmatcher.LinRegMatcher object at 0x7f1427dc93c8>,5,0.982143,0.923077,0.970588,1.000000,0.985075,0.972177
4,LogReg,<py_entitymatching.matcher.logregmatcher.LogRegMatcher object at 0x7f1427dc9f98>,5,0.965517,0.887324,0.945946,0.962264,0.956522,0.943515

In [132]:
T = em.read_csv_metadata('test.csv', 
                         key='id',
                         ltable=L_data, rtable=R_data, 
                         fk_ltable='ltable_id', fk_rtable='rtable_id')

Metadata file is not present in the given path; proceeding to read the csv file.

In [133]:
T.head()

   ltable_id  rtable_id  id
0       1853       2139   0
1       1718      11835   8
2       1624       5013   9
3        614       5969  10
4       1512      19684  15

In [0]:
n_H = em.extract_feature_vecs(T, 
                            feature_table=F, 
                            show_progress=False)

In [139]:
n_H = em.impute_table(n_H, 
                exclude_attrs=['id', 'ltable_id', 'rtable_id'],
                strategy='mean')

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
ln.fit(table=H, exclude_attrs=['id', 'ltable_id', 'rtable_id', 'label'], target_attr='label')

In [0]:
pred_table = ln.predict(table=n_H,  exclude_attrs=['id', 'ltable_id', 'rtable_id'],  append=True)

In [141]:
pred_table

array([0, 0, 1, ..., 0, 0, 0])

In [144]:
len(pred_table)

3093

In [0]:
index = 0;
with open('result.csv', 'w') as res:
    for i in test.iterrows():
      result_writer = csv.writer(res, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
      id = i[1]['id']
      label = pred_table[index];
      index += 1
      result_writer.writerow([id,label])

In [169]:
ls

ltable.csv  rtable.csv    sample_submission.csv  train.csv
result.csv  sample_data/  test.csv               train_labled.csv

In [170]:
pwd

'/content'